.container {
    display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */

  }

  .align-center {
    margin-right: 20px; /* Ajusta el margen entre la imagen y la sección de información */
  }

  .info-section {
    display: flex; /* Utiliza flexbox para alinear los elementos de información en columna */
    flex-direction: column; /* Alinea los elementos en columna */
  }
  .action-container {
    display: flex;
    justify-content: center;
  }

  .button-group {
    display: flex;
    gap: 10px;
  }
  .button-purple {
    background-color: #a070ce !important;
    color: white !important;
    width: 100px;
    align-self: center;
    margin: 20px;
}
.full-card {
    align-items: center;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: none; /* Sin un ancho máximo */
    height: 100%;
    padding: 30px;
    margin: 20px;
  }

  .item {
    border: 1px solid #ccc; /* Agrega bordes */
    border-radius: 10px; /* Hace que las esquinas sean circulares */
    padding: 10px; /* Espacio interno para los elementos */
    margin: 5px 0; /* Espacio entre elementos */
  }

  /* Estilos adicionales para los íconos (opcional) */
  .item mat-icon {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }
  .mat-icon-color {
    color: #a070ce !important;; /* Cambia el color de los iconos a morado */
  }
