<div class="container">
    <mat-card> 
        <mat-card-content>
            <h1 style="text-align: center;">Hola, {{accountData.name}}</h1>
            <img src="{{accountData.profilePicture}}" 
            alt="Profile picture" class="profile-picture">

            <div >
                <form *ngIf="edit" class="content" (ngSubmit)="updateAccountData()">
                    <div class="item">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="accountData.username" name="username">
                        </mat-form-field>
                    </div>        
                    <div class="item">
                        <mat-form-field>
                            <mat-label>Teléfono</mat-label>
                            <input matInput [(ngModel)]="accountData.phone" name="phone">
                        </mat-form-field>
                    </div>                  
                    <div class="item">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="accountData.email" name="email">
                        </mat-form-field>
                    </div>                       
                    <div class="item">
                        <mat-form-field>
                            <mat-label>Dirección</mat-label>
                         <input matInput [(ngModel)]="accountData.address" name="address">
                        </mat-form-field>
                    </div>                   
                    <div class="item">
                        <button mat-raised-button class="button-purple" type="submit">Guardar</button>
                        <button mat-raised-button (click)="close()">Cancelar</button>
                    </div>  
                </form>

                <div *ngIf="!edit" class="content">
                    <div class="item">
                        <p>Nombre:</p>
                        <p>{{ accountData.username }}</p>
                    </div>
                    <div class="item">
                        <p>Teléfono:</p>
                        <p>{{ accountData.phone }}</p>
                    </div>
                    <div class="item">
                        <p>Email:</p>
                        <p>{{ accountData.email }}</p>
                    </div>
                    <div class="item">
                        <p>Dirección:</p>
                        <p>{{ accountData.address }}</p>
                    </div>
                </div>            
            </div>

            
        </mat-card-content>
        <mat-divider></mat-divider>
        <button mat-raised-button class="button-purple" *ngIf="!edit" (click)="editar()">Editar</button>
    </mat-card>
</div>
