<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <button (click)="drawer.toggle()" mat-icon-button *ngIf="!isLoginPage">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">FLEXIDORM</span>
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="drawer-class" >
  <mat-drawer #drawer opened="false" mode="side" position="start">
    <mat-nav-list class="custom-nav-list">
      <div class="nav-container">
        <div class="nav-item" routerLinkActive="is-active">
          <mat-icon class="colorIcon">home</mat-icon>
          <a mat-list-item routerLink="/rooms" >Mis Habitaciones</a>
        </div>
        <div class="nav-item" routerLinkActive="is-active">
          <mat-icon class="colorIcon">star_rate</mat-icon>
        <a mat-list-item routerLink="/favorites">Favoritos</a>
        </div>
        <div class="nav-item" routerLinkActive="is-active">
          <mat-icon class="colorIcon">calendar_month</mat-icon>
        <a mat-list-item routerLink="/opcion3">Mis Reservas</a>
      </div>
      <div class="nav-item" routerLinkActive="is-active">
        <mat-icon class="colorIcon">perm_identity</mat-icon>
        <a mat-list-item routerLink="/profile">Mi Perfil</a>
      </div>
      <div class="nav-item" routerLinkActive="is-active">
        <mat-icon class="colorIcon">wallet</mat-icon>
        <a mat-list-item routerLink="/opcion5">Mis Movimientos</a>
      </div>
      <div class="nav-item" routerLinkActive="is-active" (click)="drawer.toggle()" (click)="logout()">
        <mat-icon class="colorIcon">power_settings_new</mat-icon>
        <a mat-list-item  routerLink="/login">Log Out</a>
      </div>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
